*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
