@font-face {
    font-family: f1;
    src: url(./CreakingCrypt-Regular.woff);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
  
}

h1{
    color: rgb(255, 0, 0);
    font-size: 50px;
    font-family: f1;
    transition: color 0.5s ease;
}
h1:hover{
        color: rgb(0, 255, 0);
        cursor: pointer;
    }
p{
    color: rgb(255, 0, 0);
    font-size: 50px;
    font-family: f1;
}